// Insert app styles here

#print-signature {
    border-top: 1px solid #ddd;
    margin-top: 72pt;
    padding-top: 0.5em;
    text-align: right;
}

@media print {
    /*
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
    }
    [class*="span"] {
        float: left;
        margin-left: 20px;
    } */
}
