{% extends "layout.html.jinja2" %}
{% block title %}Category: {{ category.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row section">
    <div class="span6 print-span8">
      <div class="page-header">
        <h1>
          {{ self.title() }}
        </h1>
      </div>
      {# If categories had descriptions, they'd be here #}
    </div>
    {% if 'admin' in g.permissions -%}
      <div class="span3 print-span4">
        <ul class="well nav nav-list">
          <li class="no-print"><a href="{{url_for('category_edit', workspace=g.workspace.name, category=category.name) }}"><span class="icon-pencil"> Edit details...</span></a></li>
          <li class="no-print"><a href="{{url_for('category_delete', workspace=g.workspace.name, category=category.name) }}"><span class="icon-trash"> Delete...</span></a></li>
        </ul>
      </div>
    {% endif %}
  </div>
  {# TODO: List all expenses with their reports where the expenses are in this category. Maybe sorted by budget? User? #}
{% endblock %}
