{% from "macros.html" import newexpense, expense_script with context %}
{# This template is inserted into an existing page #}
{{ newexpense(expenseform, categories) }}
{{ expense_script() }}

<script type="text/javascript">
  $(function() {
    $("[data-datepicker]").datepicker();
    $.ajax("{{ url_for('report_expensetable', id=report.id) }}", {
      cache: false,
      success: function(data) {
        $("#expense-table").replaceWith(data);
        // Focus on date only after redrawing the table so that
        // the date widget is positioned properly
        $("#expense-date").focus();
      }
    });
  });
</script>
