{% macro category_list(categories, selected=None, permissions=[]) %}
  <li class="nav-header">Expense Categories</li>
  {%- for c in categories %}
    <li {%- if c==selected %} class="active"{% endif %}><a href="{{ url_for('category',name=c.name) }}"><i class="icon-folder-open {%- if c==selected %} icon-white {%- endif %}"></i> {{ c.title }}</a></li>
  {%- endfor %}
  {% if 'siteadmin' in permissions -%}
    <li><a href="{{ url_for('category_new') }}"><i class="icon-plus"></i> Add a category...</a></li>
  {%- endif %}
{% endmacro %}

{% macro budget_list(budgets, selected=None, permissions=[]) %}
  <li class="nav-header">Budgets</li>
  {%- for b in budgets %}
    <li {%- if b==selected %} class="active"{% endif %}><a href="{{ url_for('budget',name=b.name) }}"><i class="icon-book {%- if b==selected %} icon-white {%- endif %}"></i> {{ b.title }}</a></li>
  {%- endfor %}
  {% if 'siteadmin' in permissions -%}
    <li><a href="{{ url_for('budget_new') }}"><i class="icon-plus"></i> Add a budget...</a></li>
  {%- endif %}
{% endmacro %}

{% macro expensetable(report, workflow, editlinks=true) %}
  <table id="expense-table" class="table table-bordered table-condensed">
    <thead>
      <th class="num">#</th>
      <th>Date</th>
      <th>Category</th>
      <th>Description</th>
      <th class="num">Amount</th>
    </thead>
    <tbody>
      {% for expense in report.expenses %}
        <tr>
          <td class="num">{{ loop.index }}</td>
          <td data-field="date" data-value="{{ expense.date }}">{{ expense.date }}</td>
          <td data-field="category" data-value="{{ expense.category.id }}">{{ expense.category.title }}</td>
          <td data-field="description" data-value="{{ expense.description }}">{{ expense.description }}</td>
          <td data-field="amount" data-value="{{ expense.amount }}" class="num">
            {{ expense.amount|format_currency }}
            {%- if editlinks and workflow.can_edit() %}
              <a href="#" class="link-util expense-edit no-print" data-id="{{ expense.id }}" title="Edit"><i class="icon-pencil"></i></a>
              <a href="{{ url_for('expense_delete', rid=report.id, eid=expense.id) }}" class="link-util expense-delete no-print" data-id="{{ expense.id }}" title="Delete"><i class="icon-remove"></i></a>
            {%- endif %}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5"><em>(No expenses recorded)</em></td>
        </tr>
      {% endfor %}
      <tr>
        <th class="num"></th>
        <th colspan="3">Total</th>
        <th class="num">{{ report.currency }} {{ report.total_value|format_currency }}</th>
      </tr>
    </tbody>
  </table>
{% endmacro %}

{% macro newexpense(form, categories) %}
  <form class="form-inline no-print" id="newexpense" method="POST">
    {% if form.csrf.errors %}
      <div class="alert alert-error">An error occured. Please submit again</div>
    {% endif %}
    {{ form.hidden_tag() }}
    <input type="hidden" name="id" id="expense-id" value="{{ form.id.data or '' }}">
    <span class="control-group{% if form.date.errors %} error{% endif %}"><input type="text" data-datepicker="datepicker" id="expense-date" name="date" class="input-small" placeholder="Date" value="{{ form.date.data or '' }}"></span>
    <span class="control-group{% if form.category.errors %} error{% endif %}"><select data-placeholder="Category" class="input-medium" name="category" id="expense-category">
      <option value=""></option>
      {% for c in categories %}
        <option value="{{ c.id }}" {%- if c.id == form.category.data.id %} selected {%- endif %}>{{ c.title }}</option>
      {% endfor %}
    </select></span>
    <span class="control-group{% if form.description.errors %} error{% endif %}"><input type="text" name="description" id="expense-description" class="input-xlarge" placeholder="Description" value="{{ form.description.data or '' }}"></span>
    <span class="control-group{% if form.amount.errors %} error{% endif %}"><input type="text" name="amount" id="expense-amount" class="input-small" placeholder="Amount" value="{{ form.amount.data or '' }}"></span>
    <input type="submit" class="btn btn-primary" id="expense-add" value="{% if form.id.data %}Save{% else %}Add{% endif %}">
    <a href="#" class="btn" id="expense-cancel">Cancel</a>
    <span class="loading hidden"></span>
  </form>
{% endmacro %}

{% macro expense_script() %}
  <script type="text/javascript">
    $(function() {
      $("#newexpense").ajaxForm({
        target: '#newexpense',
        replaceTarget: true,
      });
      activate_chosen("#expense-category");
      $("#expense-cancel").click(function(e) {
        $("#newexpense").clearForm();
        $("#expense-id").val("");
        $("#expense-add").val("Add")
        $("tr.alert-info").removeClass('alert-info');
        $("#newexpense .alert").remove();
        $("#newexpense .control-group.error").removeClass("error");
        $("#expense-category").trigger("liszt:updated")
        return false;
      });
      $("#expense-description, #expense-amount").keydown(function(e) {
        if (e.keyCode == 27) {
          $("#expense-cancel").trigger('click');
        };
      });
    });
  </script>
{% endmacro %}

{% macro expense_table_script() %}
  <script type="text/javascript">
    $(function() {
      $('.expense-edit').click(function(e) {
        e.stopPropagation();
        var row = $(this).closest('tr');
        $("#expense-cancel").trigger('click');
        $(row).addClass('alert-info');
        $("#expense-id").val($(this).attr('data-id'));;
        $("#expense-date").val(row.find('[data-field="date"]').attr('data-value'));
        $("#expense-category").val(row.find('[data-field="category"]').attr('data-value'));
        $("#expense-category").trigger("liszt:updated")
        $("#expense-description").val(row.find('[data-field="description"]').attr('data-value'));
        $("#expense-amount").val(row.find('[data-field="amount"]').attr('data-value'));
        $("#expense-add").val("Save");
        $("#expense-date").focus();
        return false;
      });
    });
  </script>
{% endmacro %}
