{% extends "layout.html.jinja2" %}
{% block title %}Expense reports{% endblock %}
{% block content %}
  <div class="tabbable">
    <ul class="nav nav-tabs nav-tabs-auto">
      {% for s in report_states %}
        <li><a href="#report-{{ s.name }}" data-toggle="tab">{{ s.title }}</a></li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for s in report_states %}
        <div class="tab-pane" id="report-{{ s.name }}">
          <table class="table">
            <thead>
              <th>#</th>
              <th>Date</th>
              <th>Title</th>
              <th>Budget</th>
              <th>Owner</th>
              <th>Currency</th>
              <th>Amount</th>
            </thead>
            <tbody>
              {% for r in reports[s.name] %}
                <tr class="link">
                  {%- set reportlink = url_for('report', workspace=g.workspace.name, report=r.url_name) %}
                  <td><a href="{{ reportlink }}">#{{ r.url_id }}</a></td>
                  <td><a href="{{ reportlink }}">{{ r.datetime|longdate }}</a></td>
                  <td><a href="{{ reportlink }}">{{ r.title }}</a></td>
                  <td><a href="{{ reportlink }}">{{ r.budget.title }}</a></td>
                  <td><a href="{{ reportlink }}">{{ r.user.fullname }}</a></td>
                  <td><a href="{{ reportlink }}">{{ r.currency }}</a></td>
                  <td><a href="{{ reportlink }}">{{ r.total_value|format_currency }}</a></td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="7"><em>(No reports found)</em></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
  <p>
    <a class="btn" href="{{ url_for('report_new', workspace=g.workspace.name)}}">File a new report...</a>
  </p>
{% endblock %}
