{% extends "layout.html" %}
{% from "macros.html" import expensetable, newexpense, expense_script, expense_table_script %}
{% block title %}{{ report.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row section">
    <div class="span6 print-span8">
      {%- if workflow.pending() and report.user == g.user %}
        <div class="alert alert-info no-print">
          <a class="close" data-dismiss="alert">&times;</a>
          Print this page, sign it, attach all receipts, and submit to a reviewer. You cannot edit this report because it is awaiting review by a reviewer. <a href="javascript:this.print();" class="btn">Print</a>
        </div>
      {%- endif %}
      <div class="page-header">
        <h3>Report #{{ report.url_id }}</h3>
        <h1>{{ self.title() }}</h1>
      </div>
      {{ report.description|safe }}
    </div>
    <div class="span3 print-span4">
      <ul class="well nav nav-list">
        <li><span class="icon-user">{{ report.user.fullname }}</span></li>
        <li><span class="icon-calendar">{{ report.datetime|longdate }}</span></li>
        {% if report.budget -%}
          <li><span class="icon-book">{{ report.budget.title }}</span></li>
        {%- endif %}
        <li class="no-print"><span class="icon-cog">Status: {{ workflow.state.title }}</span></li>
        {% if 'edit' in g.permissions -%}
          <li class="no-print"><a href="{{ url_for('report_edit', workspace=g.workspace.name, report=report.url_name) }}"><span class="icon-pencil"> Edit details...</span></a></li>
        {%- endif %}
        {% if workflow.draft() -%}
          <li class="no-print"><a href="{{ url_for('report_delete', workspace=g.workspace.name, report=report.url_name) }}"><span class="icon-trash">Delete...</span></a></li>
        {% endif %}
        <li class="no-print"><a href="{{ url_for('report_csv', workspace=g.workspace.name, report=report.url_name) }}"><span class="icon-download-alt">Download as CSV</span></a></li>
      </ul>
    </div>
  </div>
  {% if 'edit' in g.permissions %}
    {{ newexpense(expenseform, categories) }}
  {% endif %}
  {{ expensetable(report, workflow, permissions=g.permissions) }}
  {% if transitions %}
    <div class="form-actions no-print">
      {%- for transition in transitions.values() %}
        <form class="form-inline form-button" method="POST" action="{{ url_for(transition.view, workspace=g.workspace.name, report=report.url_name) }}">
          <button type="submit" data-description="{{ transition.description }}" class="btn{% if transition.category %} btn-{{ transition.category }}{% endif %} confirm-submit">{{ transition.title }}</button>
        </form>
      {%- endfor %}
    </div>
  {% endif %}
  <div class="row print-only">
    <div id="print-signature" class="span3 offset6 print-span4 print-offset8">
      <p>
        <strong>{{ report.user.fullname }}</strong><br>
        {{ report.datetime|longdate }}
      </p>
    </div>
  </div>
  <div class="modal hide" id="confirm-transition">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h2>Confirm action</h2>
    </div>
    <div class="modal-body">
      <p>Please confirm the action.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" id="confirm-transition-confirm">Continue</a>
      <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
  {% if workflow.editable() %}
    {{ expense_script() }}
    {{ expense_table_script() }}
  {% endif %}
  <script type="text/javascript">
    $(function() {
      $("form .confirm-submit").click(function(e) {
        var button = $(this);
        var form = button.closest('form');
        e.preventDefault();
        e.stopPropagation();
        $("#confirm-transition-confirm").unbind('click').click(function() {
          form.submit();
          return false;
        });
        $("#confirm-transition").find('h2').html(button.html());
        $("#confirm-transition").find('.modal-body').html(button.attr('data-description'));
        $("#confirm-transition").modal();
        return false;
      });
    });
  </script>
{% endblock %}
