{% extends "layout.html" %}
{% from "macros.html" import expensetable, newexpense, expense_script, expense_table_script %}
{% block title %}{{ report.title }}{% endblock %}
{% block headline %}{% endblock %}
{% block content %}
  <div class="row section">
    <div class="span6">
      <div class="page-header">
        <h3>Report #{{ report.id }}</h3>
        <h1>{{ self.title() }}</h1>
      </div>
      {{ report.description|safe }}
    </div>
    <div class="span3">
      <ul class="well nav nav-list">
        <li><i class="icon-user"></i> {{ report.user.fullname }}</li>
        <li><i class="icon-calendar"></i> {{ report.created_at|longdate }}</li>
        {% if report.budget -%}
          <li><i class="icon-book"></i> {{ report.budget.title }}</li>
        {%- endif %}
        <li><i class="icon-cog"></i> Status: {{ workflow.state.title }}</li>
        {% if workflow.editable() -%}
          <li><a href="{{ url_for('report_edit', id=report.id) }}"><i class="icon-pencil"></i> Edit details...</a></li>
        {%- endif %}
        {% if workflow.draft() -%}
          <li><a href="{{ url_for('report_delete', id=report.id) }}"><i class="icon-trash"></i> Delete...</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  {{ expensetable(report, workflow) }}
  {% if workflow.editable() %}
    {{ newexpense(expenseform, categories) }}
  {% endif %}
  {% if transitions %}
    <div class="form-actions">
      {% if 'submit' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_submit', id=report.id) }}">
          <button type="submit" class="btn btn-primary confirm-submit">{{ transitions['submit']['title'] }}</button>
        </form>
      {% endif %}
      {% if 'resubmit' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_resubmit', id=report.id) }}">
          <button type="submit" class="btn btn-primary confirm-submit">{{ transitions['resubmit']['title'] }}</button>
        </form>
      {% endif %}
      {% if 'accept' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_accept', id=report.id) }}">
          <button type="submit" data-description="{{ transitions['accept']['description'] }}" class="btn btn-primary confirm-submit">{{ transitions['accept']['title'] }}</button>
        </form>
      {% endif %}
      {% if 'return_for_review' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_return', id=report.id) }}">
          <button type="submit" class="btn btn-warning confirm-submit">{{ transitions['return_for_review']['title'] }}</button>
        </form>
      {% endif %}
      {% if 'reject' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_reject', id=report.id) }}">
          <button type="submit" class="btn btn-danger confirm-submit">{{ transitions['reject']['title'] }}</button>
        </form>
      {% endif %}
      {% if 'withdraw' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_withdraw', id=report.id) }}">
          <button type="submit" class="btn btn-danger confirm-submit">{{ transitions['withdraw']['title'] }}</button>
        </form>
      {% endif %}
      {% if 'close' in transitions %}
        <form class="form-inline form-button" method="POST" action="{{ url_for('report_close', id=report.id) }}">
          <button type="submit" class="btn btn-success confirm-submit">{{ transitions['close']['title'] }}</button>
        </form>
      {% endif %}
    </div>
  {% endif %}
  <div class="modal fade" id="confirm-transition">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h2>Confirm action</h2>
    </div>
    <div class="modal-body">
      <p>Please confirm the action.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" id="confirm-transition-confirm">Continue</a>
      <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    </div>
  </div>
{% endblock %}
{% block footerscripts %}
  {% if workflow.editable() %}
    {{ expense_script() }}
    {{ expense_table_script() }}
  {% endif %}
  <script type="text/javascript">
    $(function() {
      $("form .confirm-submit").click(function(e) {
        var button = $(this);
        var form = button.closest('form');
        e.preventDefault();
        e.stopPropagation();
        $("#confirm-transition-confirm").unbind('click').click(function() {
          form.submit();
        });
        $("#confirm-transition").find('h2').html(button.html());
        $("#confirm-transition").find('.modal-body').html(button.attr('data-description'));
        $("#confirm-transition").modal();
        //if (confirm('Submit?')) {
        //  $(this).closest('form').submit();
        //}
        return false;
      });
    });
  </script>
{% endblock %}
