#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1369421753');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 158px;
  height: 75px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('../img/logo@2x.png?1369421745');
    -webkit-background-size: 158px 75px;
  }
}
#print-signature {
  border-top: 1px solid #dddddd;
  margin-top: 72pt;
  padding-top: 0.5em;
  text-align: right;
}

@media print {
  .alert {
    display: none;
  }
}
